[user]
	name = <your name>
	email = <your email>

[alias]
	st = status
	ci = commit
	graph = log --oneline --graph --all --decorate

[color]
	ui = true

[push]
	default = simple

[help]
	autocorrect = 1

[pull]
	rebase = false
