[Unit]
Description=Huion tablet hotplug
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
RemainAfterExit=no
User=pl
ExecStart=/usr/local/bin/systemd_set_huion_keys.sh

[Install]
WantedBy=multi-user.target
WantedBy=graphical-session.target
